span {
  color:  #D70101;
 font-size: 40px;
 font-style: normal;
 font-weight: 500;
 line-height: 150%; 
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 30px;


  .image-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    .image-with-overlay {
      width: 376px;
      height: 376px;
      position: relative;
      img{
        border-radius: 16px;
      }
      .overlay{
        background: rgb(90, 90, 90) 0px -348.793px / 100% 225.622%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
    }

    


  }


}