#banner{
    background:  url(../assets/images/unsplash_k33qWPtEfrM.png) center/cover   no-repeat;
    background-position: unset;
   
    background-size: cover;
    height: 628px; 
    width: 1440px;
    position: relative;
    
    .overlay{
        padding-left: 126px;
        padding-top: 96px;
        padding-right: 551px;
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(102, 102, 102, 0.50);
        #overlay-image {
            background-image: url(../assets/images/girl-with-notebooks.png);
            width: 978px;
            height: 598px;
    
            position: absolute;
            top: 30px;
            bottom: 0;
           
            left: 411px;
            right: 51px;
            background-size: cover;
            
    
    
          
    
    
        }
        #education-promo {
            z-index: 1;
            font-size: 68px;
            font-style: normal;
            font-weight: 500;
            line-height: 116%;
            width: 763px;
            color: white;
            
        }
        #education-promo-2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            color: #E0E0E0;
            margin-top: 24px;
           
    
        }
        #education-promo-3 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; 
            color: #E0E0E0;
            margin-top: 8px;
           
    
        }
        #search-container {
            display: flex;
            width: 716px;
            height: 68px;
            padding: 8px 8px 8px 24px;
            align-items: center;
            border-radius: 100px;
            background-color: #FFF;
            gap: 48px;
            justify-content: space-between;
            margin-top: 64px;
            a {
                margin-right: 8px;
            }
    
            input {
                width: 428px;
                height: 24px;
                border-style: none;
            }
            #circle {
                width: 52px;
                height: 52px;
                background-color: #D70101;
                border-radius: 50%;
                padding-left: 17px;
                padding-right: 14px;
                padding-top: 15px;
                padding-bottom: 13px;
    
    
            
                .fa-magnifying-glass {
                    
                    width: 30px;
                    height: 30px;
                    color: white;
                   
                  
    
    
                }
            }
    
        }
    }



}


#cards {
    margin-top: 100px;
    margin-left: 126px;
    margin-right: 126px;
  
    .title-container {
        width: 1188px;
        height: 144px;
        margin-bottom: 40px;
      
      
       
        
      
    
        h1 {
          color: #D70101;
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; 
          flex-shrink: 0;
         
        }
        .content{
          height: 40px;
        }
       
      
       
    
    
         .category-container {
          display: flex;
          flex-direction: row;
          gap: 14px;
          border-bottom: 2px solid #E0E0E0;
         
          .category-1 {
            color: #1C1C1C;
            padding:  0px 24px 16px 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            border-bottom: 4px solid #D70101;
           
          }
          .category-2 {
            color: #A8A8A8;
            padding: 0px 24px 16px 24px;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
          }
    
    
    
         }
        
       }
    #card {
        display: flex;
        flex-direction: column;
        width: 376px;
        height: 426px;
       
        border-radius: 16px;
        border-right: 1px solid  #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        border-left: 1px solid  #E0E0E0;
        border-top-style: none;
       
        border: 1px solid #e0dfdf;
        box-shadow: 0 8px 16px #f0eded;


        
        img {
            width: 376px;
            height: 212px;
            border-radius: 0 0 -16px -16px;


        }
        .image-2 {
            width: 376px;
            height: 212px;
            object-fit: cover;
            border-radius: 16px 16px 0 0;

        }
       

        .information-card {
            padding: 24px 20px;
           
            box-sizing: border-box;
            


         
            .course-name {
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 130%;
                margin-bottom: 20px;
            }
            .course-information {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                color: #7C7C7C;
                margin-bottom: 24px;
        
              }

        }
       

    }
    
}
.more-courses {
    border-radius: 32px;
    border: 1px solid #D70101;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    width: 185px;
    height: 52px;
    color:#D70101;
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px; 
    margin: 54px 631px 91px 631px;


}

#graduates-section {
    background: #F7F7F7;
    width: 1440px;
    height: 750px;
    position: relative;
   
   
    #graduates-1 {
        width: 479px;
        height: 319px;
        padding: 9px 103px 62px 128px;
        margin: 76px 282px 355px 679px;
        position: absolute;
       
        

        
       
        img {
           
            width: 248px;
            height: 248px;
            border-radius: 203px;
            border: 3px solid #FFF;

            background: #FFF;
           
            object-fit: cover;
          

            box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
        }

        

    }
    #graduates-2 {
        width: 347px;
        height: 463px;
        position: absolute;
        padding: 113px 65px 153px 85px;
        margin: 23px 61px 264px 1032px;
        
        img {
            border-radius: 100%;
            width: 197px;
            height: 197px;
            border-radius: 194px;
            border: 3px solid #FFF;

            background: #FFF;

            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            object-fit: cover;
          
            
        }
       

    }
    #graduates-3 {
        width: 466px;
        height: 622px;
        position: absolute;
        padding: 103px 57px 166px 58px;
        margin: 203px 538px 0 436px;
        .graduates3-container{
            z-index: 1;
            position: relative;
            border-radius: 100%;
            width: 351px;
            height: 351px;
            object-fit: cover;
            border-radius: 222px;
            overflow: hidden;          
            border: 3px solid #FFF;

            background: #FFF;

            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            img {
                position: absolute;
                top: -97px;
                left: -45px;
                width: 130%;
            }
        }
       

    }
    #graduates-4 {
        width: 621px;
        height: 414px;
        position: absolute;
        padding: 13px 170px 97px 147px;
        margin: 349px 48px 13px 771px;
        .graduates4-container{
            z-index: 1;
            position: relative;
            border-radius: 100%;
            width: 304px;
            height: 304px;
            object-fit: cover;
            border-radius: 222px;
            overflow: hidden;          
            border: 3px solid #FFF;

            background: #FFF;

            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            img {
                position: absolute;
                top: -20px;
                left: -140px;
                width: 200%;
            }
        }
       

    }
    .graduates-info {
        position: relative;
        left: 126px;
        top: 100px;
        
        
    
    
        .p-1 {
            font-size: 52px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            color: #D70101;
            
    
            
        
        }
        .p-2 {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            color: #D70101;
            margin-top: 24px;
        
    
        }
        .more-graduates {
            border-radius: 32px;
            border: 1px solid #D70101;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            width: 185px;
            height: 52px;
            color:#D70101;
            background-color: transparent;
            padding-left: 24px;
        
            padding-right: 24px;
            margin-top: 48px;
          
    
        }
    }
    .ellipse-1 {
        position: absolute;
        margin: 103px 619px 451px 625px;
    }
    .ellipse-2 {
        position: absolute;
        margin: 26px 191px 1151px 626px;
    }
    .ellipse-3 {
        position: absolute;
       margin: 367px 1233px 272px 96px; 
    }
    .ellipse-4 {
        position: absolute;
        margin: 580px 1261px 26px 17px;
    }
    .ellipse-5 {
        position: absolute;
        margin: 432px 884px 70px 308px;
    }
    .ellipse-6 {
        position: absolute;
        margin: 580px 426px 21px 865px;
    }
    .ellipse-7 {
        position: absolute;
        margin: 360px 471px 321px 900px;

    }
    .ellipse-8 {
        position: absolute;
        margin: 349px 94px 290px 1235px; 
    }
    .ellipse-9 {
        position: absolute;
        margin: 580px 39px 40px 1271px;
    }
    .ellipse-10 {
        position: absolute;
        margin: 286px 306px 407px 1077px;
    }
    .ellipse-11 {
        position: absolute;
        margin: 243px 943px 438px 428px;

    }
}



#course-selection-section {
    width: 1140px;
    height: 560px;
    padding-top: 160px;
    #course-selection-message {
        color: #000;
        text-align: center;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        width: 986px;
        
        margin-left: 227px;
        margin-right: 227px;
        margin-bottom: 32px;
    }
   
    #course-selection-message-2 {
        color: #000;
    
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; 
        margin-left: 126px;
        margin-right: 126px;
        width:  1188px;
        margin-bottom: 66px;

    
    }
    #contact-us-button-2 {
        width: 178px;
        height: 52px;
        padding: 10px 24px;
        border-radius: 32px;
        background: #D70101;
        border-style: none;
        color: white;
        margin-left: 631px;
        margin-right: 631px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      
    }
    
    
    
       
}
#students-opinion-section {

    height: 778px;
    background: #D70202;
    #what-our-student-say {
        color: #FFF;
        text-align: center;
        font-size: 52px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
       
    }
    .student-opinion {
        width: 580px;
        padding: 24px;
        background-color: #FFF;
        border-radius: 16px;
        box-sizing: border-box;

        .student-profile {
            display: flex;
            flex-direction: row;
            gap: 8px;
            
           
            .profile-picture {

                
            
                img {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                   
                }
            }
            .student-info {
                display: flex;
                flex-direction: row;
                gap: 285px;
                
                
                
                .student-name {
                    color: var #252525;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }
                .student-occupation {
                    color: #7C7C7C;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 155%; 
                }
            }
           
    
    
        }
        .student-opinions {
            color:  #7C7C7C;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 155%;
            margin-top: 16px;
        }

    }
    
}
#join-us-section {

   
    height: 664px;
    display: flex;

    .join-us-picture {
        margin-top: 128px;
        width: 612px;
        height: 536px;
        object-fit: cover;
    }



    .join-us-content {
        margin-left: 126px;
        margin-top: 205px;

        .career-opp {
            color:  #D70101;
    
            font-size: 52px;
    
            font-style: normal;
            font-weight: 600;
            line-height: 110%; 
            margin-bottom: 36.37px;
    
        }
        .join-us-content-1 {
            color: rgba(0, 0, 0, 0.74);
    
            
            font-size: 36px;
            font-style: normal;
            font-weight: 600;
            line-height: 110%;
            margin-bottom: 16px;
    
        }
        .join-us-content-2 {
            color: rgba(0, 0, 0, 0.66);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; 
            width: 513px;
            margin-bottom: 40.47px;
        }
        .join-us-button {
            color:  #D70101;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; 
            border-radius: 32px;
            border: 1px solid #D70101;
            padding: 10px 16px;
            background-color: transparent;
            width: 108.276px;
        }
    }
       
    
    

    
    

   
    


}
