#review-slider-1{
  margin-bottom: 30px;
  .owl-item{
      width: 580px!important;
      padding: 24px;
      background-color: #FFF;
      border-radius: 16px;
      box-sizing: border-box;
  }
}
#review-slider-2{
  .owl-item{
      width: 580px!important;
      padding: 24px;
      background-color: #FFF;
      border-radius: 16px;
      box-sizing: border-box;
  }
}